{% extends 'base.html' %}
{% block content %}
HumanTree was created by <a href="https://astrocrash.net">James Guillochon</a>. This project came about during his time as a fellow in Insight's Data Science Program in Boston (Summer 2018).

All code for this project, including the web server delivering this page, is available in this <a href="https://github.com/guillochon/humantree">GitHub repository</a>.

HumanTree itself does not retain addresses entered into the search box on the main page; our predictions are only stored in anonymized form for quality assurance purposes. The services we use to power this page however (Google, Zillow, etc.) may of course be collecting your data.
{% endblock %}
