{% extends 'base.html' %}
{% block content %}
HumanTree.org was created by <a href="https://astrocrash.net">James Guillochon</a>, this project came about during his time as a fellow in <a href="https://www.insightdatascience.com/fellows">Insight's Data Science Program</a> in Boston (Summer 2018). All code for this project, including the web server delivering this page, is available in this <a href="https://github.com/guillochon/humantree">GitHub repository</a>.<br><br>

HumanTree itself does not retain addresses entered into the search box on the main page; our predictions are only stored in anonymized form for quality assurance purposes. The services we use to power this page however (Google, Zillow, etc.) may of course be collecting your data.<br><br>

<strong>About our metrics</strong><br>
The metrics presented for each property are constructed heuristically based upon the fraction of a property coverged by the tree canopy.<br><br>

For heating/cooling costs, we use the regional heating/cooling degree days from the <a href="https://www.eia.gov/">EIA</a> and assume that 2/3rds of all days of the year will require either heating or cooling. A full canopy of trees is then assumed to affect a 5&#176; change on these days.<br><br>

For noise abatement, a complete coverage of a property by trees is assumed to effect a 10&nbsp;dB reduction in ambient noise, this is reduced if coverage is less than total.<br><br>

Lastly, we assume that a property with complete tree coverage will have a 10% increase in home value (pulled from <a href="https://www.zillow.com">Zillow</a>), with smaller coverage fractions corresponding to a proportionate decrease.<br><br>

A single "large" tree (the +1🌳) indicator is assumed to provide 500&nbsp;ft&#178; of canopy coverage, which affects the three metrics above depending on the total estimated area of the property.
{% endblock %}
