<!DOCTYPE html>
<html>
  <head>
    {% block header %}{% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-6237166-13"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-6237166-13');
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HumanTree.org: Assess the Impact of Trees on your Property</title>
  </head>
  <body {% if request.endpoint == 'help' %} onload="insertSrcs();" {% endif %}>
    <div class="page">
      <h1><a href="/">HumanTree.org</a></h1>
      <div class=metanav>
        <a href="https://humantree.org">home</a> | <a href="about">about</a> | <a href="presentation">presentation</a> | <a href="help">help us improve</a>
      </div>
      {% for message in get_flashed_messages() %}
        <div class=flash>{{ message }}</div>
      {% endfor %}
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
