<!DOCTYPE html>
<html>
  <head>
    {% block header %}{% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body {% if request.endpoint == 'help' %} onload="insertSrcs();" {% endif %}>
    <div class="page">
      <h1><a href="/">HumanTree</a></h1>
      <div class=metanav>
        <a href="method">method</a> | <a href="about">about</a> | <a href="help">help us improve</a>
      </div>
      {% for message in get_flashed_messages() %}
        <div class=flash>{{ message }}</div>
      {% endfor %}
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
