{% extends 'base.html' %}
{% block header %}
<script src="{{ url_for('static', filename='validate.js') }}"></script>
<script src='https://www.google.com/recaptcha/api.js'></script>
<meta property="tids" content="{{ tids }}" />
<meta property="qids" content="{{ qids }}" />
<meta property="pids" content="{{ pids }}" />
<meta property="iids" content="{{ iids }}" />
<meta property="captcha" content="{{ captcha }}" />
{% endblock %}
{% block content %}
<div class="imwrap">
  <div class="imagemask">
    <img class="validate-image" id="satellite"><img class="validate-mask" id="mask">
  </div>
</div>
<form action="help" id="help" method="post">
  <input type="hidden" name="mask-num" id="mask-num">
  <input type="hidden" name="iids" id="iids">
  <p class="centered" id="assess">
    This mask looks:
    <button type="submit" class="btn good" name="good" id="good" disabled>G&#818;ood</button>
    <button type="submit" class="btn-yellow good" name="okay" id="okay" disabled>O&#818;kay</button>
    <button type="submit" class="btn-red bad" name="bad" id="bad" disabled>B&#818;ad</button>
    <div class="showmask">
      <div class="switch_box box_1">
        <input type="checkbox" class="switch_1" id="maskcheck" checked onclick="toggleMask()"><label>S&#818;how mask</label>
      </div>
    </div>
    <div class="error" {% if success %} style="display:none" {% endif %}>Captcha not valid!</div>
  </p>
  {% if captcha %}
  <div class="text-xs-center">
    <div class="g-recaptcha" data-sitekey="6Ldakl8UAAAAAI77REzQdCDKAEAAu8dNlYadrxsH"  data-callback="enableBtn" data-expired-callback="disableBtn">
    </div>
  </div>
  {% endif %}
</form>

<p>Our training set is based upon the <a href="http://cambridgegis.github.io/gisdata.html">Cambridge GIS</a> (collected in 2014 with LIDAR) and present-day (~2018) <a href="https://maps.google.com">Google Maps</a> imagery, which means that there are mismatches between regions marked as tree/not tree as individual trees have either been added or removed in the past 4 years. Additionally, the original training set itself has some malformed masks that need to be identified.</p>

<p>On this page, you can help us improve the data we train upon! Above you should see a satellite image overlaid with a <span style="color: #f0f">magenta</span> mask for that image marking the tree locations. We would like you to rate each mask as being either <span class="good-txt">good</span>, <span class="okay-txt">okay</span>, or <span class="bad-txt">bad</span>.</p>

<p>There is of course some subjectivity in this assessment, but the following rubrick should give some sense of what "good," "okay," and "bad" correspond to:</p>

<ul>
  <li><span class="good-txt">Good</span>: &gt;90% of image area accurately labeled as tree/not tree.
  <li><span class="okay-txt">Okay</span>: 70 - 90% of image area accurately labeled.
  <li><span class="bad-txt">Bad</span>: &lt;70% of image area accurately labeled.
</ul>

<p>Clicking one of the buttons above should reload this page and provide a new image to assess. The captcha must be solved before assessments will be accepted, and you must spend at least 1.5 seconds examining each mask before providing your assessment (the buttons will be disabled for that period).</p>
{% endblock %}
