<!DOCTYPE html>
<html>
<head>
  <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@0.11.6"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='predict.js') }}"></script>
</head>
<body>
  <form action="process" id="process" method="post">
    <p><input type="text" name="address" placeholder="Enter your address"></input></p>
    <p><input type="submit" value="Find trees"></p>
  </form>
</body>
<div id="images"><img id="satellite"><img id="predict"></div>
</html>
