{% extends 'base.html' %}

{% block header %}
<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@0.11.7"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{ places_api_key }}&libraries=places"></script>
<script src="{{ url_for('static', filename='pureknob.js') }}"></script>
<script src="{{ url_for('static', filename='predict.js') }}"></script>
{% endblock %}

{% block content %}
<form action="process" id="process" method="post">
  <p class="centered"><input type="text" class="address" id="address" name="address" placeholder="Enter an address"></input></p>
  <p class="centered"><button type="submit" class="btn" id="btn" disabled>Analyze trees on property</button>
</form>
<div id="loader" class="cssload-container">
  <div id="cssload-loader">
  	<div class="cssload-diamond"></div>
  	<div class="cssload-diamond"></div>
  	<div class="cssload-diamond"></div>
  </div>
  Loading model...
</div>
<div id="invalid-address" style="display: none">
  <p class="centered">Invalid address.</p>
</div>
<div id="analyzer" class="cssload-container" style="display: none">
  <div class="cssload-thecube">
  	<div class="cssload-cube cssload-c1"></div>
  	<div class="cssload-cube cssload-c2"></div>
  	<div class="cssload-cube cssload-c4"></div>
  	<div class="cssload-cube cssload-c3"></div>
  </div>
  Analyzing...<br>(will take ~20 seconds)
</div>
<div class="imwrap" id="imwrap" style="display: none;">
  <div class="imagemask">
    <img class="validate-image" id="satellite"><img class="validate-mask" id="predict"><a href="https://maps.google.com" id="gmap-link"><img class="google-logo" src={{ url_for('static', filename='google.png') }}></a>
  </div>
</div>
<div class="showmask" id="maskswitch" style="display: none">
  <div class="switch_box box_1">
	<input type="checkbox" class="switch_1" id="maskcheck" checked onclick="toggleMask()"><label>S&#818;how mask</label>
  </div>
</div>
<div id="metrizer" class="cssmetrizer-container" style="display: none">
  <div id="spinningSquaresG">
  	<div id="spinningSquaresG_1" class="spinningSquaresG"></div>
  	<div id="spinningSquaresG_2" class="spinningSquaresG"></div>
  	<div id="spinningSquaresG_3" class="spinningSquaresG"></div>
  	<div id="spinningSquaresG_4" class="spinningSquaresG"></div>
  	<div id="spinningSquaresG_5" class="spinningSquaresG"></div>
  	<div id="spinningSquaresG_6" class="spinningSquaresG"></div>
  	<div id="spinningSquaresG_7" class="spinningSquaresG"></div>
  	<div id="spinningSquaresG_8" class="spinningSquaresG"></div>
  </div>
  Computing metrics...
</div>
<div id="metrics" class="metrics" style="display: none"></div>
<div class="notes-container"><div class="notes">Note: This page is powered by <a href="https://js.tensorflow.org/">Tensorflow.js</a>, which works best in Chrome/Firefox on a computer with a dedicated GPU.</div></div>
{% endblock %}
